<footer class="footer">
  <p>&copy; 2021 osdev.wiki contributors. You can <a href="https://github.com/osdev-wiki/wiki" target="_blank">edit this wiki on GitHub</a>.</p>
  <p>All content released under the <a href="https://creativecommons.org/share-your-work/public-domain/cc0/" target="_blank">Creative Commons <code>0</code></a> License.</p>
</footer>
